<div class='total-home-container'>
  <div class='homepage-container' w-100>
      <%= image_tag("https://i.imgur.com/gHHtd3m.jpg", class: 'homepage-img') %> 
    
    <div class='text-container'>
      <div class='centered'>
        <h1 class='logo'>regrEtsy</h1>
      </div>
    </div>
  </div>

  <%# TODO: logic for choosing featured products is not complete, need to replace with actual logic later on :(%>
  <div class='feature-products'>
      <h1>Featured Regrets:</h1>
      <h3>Most Recently Added!</h3>
        <%= render partial: "shared/card", locals: { product_set: @featured_products } %>
      <h3>Featured by Best Reviews!</h3>
        <%= render partial: "shared/card", locals: { product_set: @featured_products } %>
      <h3>Featured Merchants!</h3>
      <% #TODO Optional refactor - add photo, change to top selling item %>
        <%= render partial: "shared/merchants", locals: { merchant_set: @featured_merchants } %>
    </div>
  </div>