<div class='homepage-container' w-100>
    <%= image_tag("https://i.imgur.com/gHHtd3m.jpg", class: 'homepage-img', alt: 'a person walking away on the railroad tracks') %>
  
  <div class='text-container'>
    <div class='centered'>
      <h1 class='logo'>regrEtsy</h1>
    </div>
  </div>

  <div class='feature-products'>
  <h1>FEATURED PRODUCTS COULD EVENTUALLY LIVE HERE!</h1>
  </div>
</div>