<% merchant_set.each do |merchant| %>
<div>
    <div>
        <ul>
            <% if merchant.name %>
            <li><%= link_to merchant.name, merchant_path(merchant.id) %></li>
            <% else %>
            <li> NO SEARCH RESULTS</li>
            <% end %>
        </ul>
    </div>
</div>
</div>
<% end %>