<ul class='list-group'>
    <% merchant_set.each do |merchant| %>
        <% if merchant.name %>
            <li class='list-group-item'><%= link_to merchant.name, merchant_path(merchant.id) %></li>
        <% end %>    
    <% end %>
</ul>