<h1 class='title'>RECEIPT for <%= @order.id %></h1>
  <h1 class='subtitle'>Hope you regret your purchase!</h1>
  <div class="jumbotron">
    <h1 class="display-4">Your Order Details (Order #<%= @order.id %>)</h1>
    <p class="lead">Enjoying your regrets:</p>
    <hr class="my-4">

<%= render partial: "shared/order_details", locals: { item_set: @order.order_items, ship_status: @order.order_items[0].is_shipped } %>
<%= link_to "Return to Browsing", products_path, method: :get, class: "btn btn-info" %>


