<div class='page-container'>
<h1 class='title'>Nice Job Suckering in Some Cash ;)</h1>
<div class="jumbotron">
  <h1 class="display-4">Order Details (Order #<%= @order.id %>)</h1>
  <p class="lead">Order Information:</p>
  <hr class="my-4">

<%= render partial: "shared/order_details", locals: { item_set: @order_items } %>

<%#TODO: Leah will make these buttons bigger %>
<%= button_to "Return to Dashboard", dashboard_path, method: :get, class: "btn btn-info" %>
<%= button_to "Ship Products", products_path, method: :get, class: "btn btn-info" %>
