<% # DISPLAYS ONLY ONE MERCHANT PRODUCTS %>
<h1 class='title'><%= @merchant.name %>'s Store</h1>
<% #TODO: Leah needs to work on this view - esp photo size %>
<% # Maybe make the merchant info into a card %>
<div class='card'>
  <h3>Merchant Info</h3>
  <p> Products Sold: ###</p>
  <p> Average Review: ###</p>
  <p> Profile pic: </p>
  <%= image_tag(@merchant.avatar, class: "card-img-top") %> 
</div>

<%= render partial: "shared/card", locals: { product_set: @products } %>