<%# DISPLAYS ONLY ONE MERCHANT PRODUCTS%>
<h1 class='title'><%= @merchant.name %>'s Store</h1>

<div>
  <h3>Merchant Info</h3>
  <p> Products Sold: ###</p>
  <p> Average Review: ###</p>
  <p> Profile pic: </p>
  <%= image_tag(@merchant.avatar, class: "card-img-top") %> 

</div>

<%= render partial: "shared/card", locals: { product_set: @products } %>