/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

/* Custom bootstrap variables must be set or imported *before* bootstrap. */
@import "bootstrap";

@import "**/*";

.navbar-brand {
  font-family: 'La Belle Aurore', cursive;
  padding-left: 20px;
}

.navbar-brand:hover {
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #FF69B4, 0 0 20px #FF69B4, 0 0 25px #FF69B4, 0 0 30px #FF69B4, 0 0 35px #FF69B4;
}

.navbar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 3fr;
}

.navbar-text {
  grid-column-start: span 2;
}

.navbar-nav {
  grid-column-start: 4;
  justify-items: end;
  align-items: center;
}

.nav-link {
  padding: 0px 5px;
  text-align: center;
}

.btn {
  margin: 5px;
}

.btn-info {
  background-color: #6D6875;
  border: #6D6875;
}

.btn-info:hover {
  background-color: #B5838D;
  border: #B5838D;
  box-shadow: 0px 0px 15px 1px #FFCDB2;
}

.title {
  text-align: center;
  background-color: #E5989B;
  padding: 30px 0px 10px 0px;
  margin-bottom: 30px;
  font-family: 'La Belle Aurore', cursive;
}

.subtitle {
  text-align: center;
  font-family: 'La Belle Aurore', cursive;
  font-size: 5vw;
}

.subtitle2 {
  text-align: center;
  font-family: 'La Belle Aurore', cursive;
  font-size: 3vw;
}

.subtitle3 {
  text-align: left;
  font-family: 'La Belle Aurore', cursive;
  font-size: 2.5vw;
}

.reviews {
  padding: 50px 0px 30px;
}

.review {
  border: 2px solid #B5838D;
}

a {
  color: #E5989B;
}

a:hover {
  color: #B5838D;
}

.inline {
  display: inline-block;
}

.button-holder {
  justify-content: center;
}

.sm-txt {
  font-size: small;
}

.card-title {
  text-align: center;
}

.card-text {
  text-align: center;
}

.page-container {
  background-color: #FFCDB2;
  position: relative;
  text-align: center;
}
