// Place all the styles related to the Merchants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.subtitle {
  text-align: center;
  font-family: 'La Belle Aurore', cursive;
  font-size: 5vw;
}

.btn-container {
  display: flex;
  justify-content: center;
}

.current {
  margin: 50px auto;
}
