// Place all the styles related to the Orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.display-4 {
  font-family: 'La Belle Aurore'
}

.card-order {
  margin: 20px;
}

.customer-info {
  padding: 50px;
}

.details {
  padding: 30px;
}

.middle {
  margin: auto;
  border: 5px solid black;
  box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
}

.card-container {
  margin-bottom: 30px;
}