// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// all products - product index
.card-deck {
    padding: 20px;
}

// individual product - product show

.horiz {
    margin: 30px auto
}

 
.card-columns {
    @include media-breakpoint-only(lg) {
        column-count: 4;
    }
    @include media-breakpoint-only(xl) {
        column-count: 5;
    }
}

.single-product-container {
    padding-bottom: 20px;
}

.all-prods-container {
    padding: 0px 20px;
}

.reviews-container {
    padding: 0px 20px;
}

.product-info-container {
    padding-left: 80px;
    padding-bottom: 60px;
}

