// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// all products - product index
.card-deck {
    padding: 20px;
}

// individual product - product show
.container-sm {
    padding-top: 30px;
}

.card-container {
    padding-top: 30px;
    justify-content: center;
}

// <div class='card-container'>
// <div class="card mb-3">
//   <%= image_tag(@product.photo_url, class: "card-img-top") %>
//   <div class="card-body">
//     <h5 class="card-title"><%=@product.name%></h5>
//     <p class="card-text">Description: <%=@product.description%></p>
//   </div>
//   <ul class="list-group list-group-flush">
//     <li class="list-group-item">Sold by: <%=@product.merchant.name%> (Merchant ID: <%=@product.merchant.id%>)</li>
//     <li class="list-group-item">Price: <%=@product.price%></li>
//     <li class="list-group-item">In Stock: <%=@product.stock%></li>
//   </ul>

//   <div class="card-body">
//     <a href="#" class="card-link">Add To Cart</a>
//     <a href="#" class="card-link">Edit</a>
//   </div>
// </div>
// </div>