<%# DISPLAYS ALL PRODUCTS, REGARDLESS OF MERCHANT%>

<h1 class='title'>All regrEtsy Products</h1>
<div class='all-prods-container mx-auto'>
  <%= render partial: "shared/card", locals: { product_set: @products } %>
</div>