<%# DISPLAYS ALL PRODUCTS, REGARDLESS OF MERCHANT%>
<div class='page-container'>
  <h1 class='title'>All regrEtsy Products</h1>
  <div class='all-prods-container'>
  <%= render partial: "shared/card", locals: { product_set: @products } %>
</div>